<footer>
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__col1">
        <div class="footer__logo">
          <img
            src="./images/sfs_logo.png"
            style="width: 30%; height: auto"
            alt=" Skule French Society"
          />
        </div>
        <p class="footer__desc">Francophone Club at U of T...SFS!</p>
      </div>
      <div class="footer__col2">
        <div class="footer__socials">
          <h4 class="footer__socials__title">Follow us</h4>
          <ol>
            <li>
              <a href="https://www.instagram.com/uoftsfs/" target="_blank"
                >Instagram</a
              >
            </li>
            <li>
              <a href="https://www.facebook.com/utoronto.sfs/" target="_blank"
                >Facebook</a
              >
            </li>
          </ol>
        </div>
      </div>
      <div class="footer__col3">
        <h3 class="footer__text__title">Links</h3>
        <ol class="footer__text">
          <li><a href="./index.html">Home</a></li>
          <li><a href="./about.html">About Us</a></li>
          <li><a href="./past_events.html">Resources</a></li>
          <li><a href="./sponsors.html">Sponsors</a></li>
          <li><a href="./contact_us.html">Contact Us</a></li>
        </ol>
      </div>
      <div class="footer__col4">
        <h3 class="footer__text__title">Contact Execs</h3>
        <ol class="footer__text">
          <li>
            <a href="mailto:utorontosfs@gmail.com">utorontosfs@gmail.com</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</footer>
<div id="copyright">
  <div class="container">
    <p class="copyright__text">
      © Copyright 2024 Skule French Society | All rights reserved
    </p>
  </div>
</div>
