<section id="ourEvents" data-aos="fade-up">
  <div class="container">
    <div class="ourEvents__wrapper">
      <div class="ourEvents__item">
        <div class="ourEvents__item__img">
          <img src="images/Events/5origami.png" alt="sponsor logo" />
        </div>
        <div class="ourEvents__item__info">
          <h3 class="ourEvents__item__title">Valentine's Soirée</h3>
          <h4 class="ourEvents__item__price">
            Origami folding w/ Language Exchange Initiative Club (LEI)
          </h4>
          <div class="ourEvents__item__ig"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="page__title" data-aos="fade-up">
  <div class="container">
    <h2 class="page__title__text">Our Past Events:</h2>
  </div>
</section>
<section id="ourEvents" data-aos="fade-up">
  <div class="container">
    <div class="ourEvents__wrapper">
      <div class="ourEvents__item">
        <div class="ourEvents__item__img">
          <img src="images/Events/1frenchCafe.png" alt="sponsor logo" />
        </div>
        <div class="ourEvents__item__info">
          <h3 class="ourEvents__item__title">SFS French Café</h3>
          <h4 class="ourEvents__item__price">w/ Hard Hat Cafe</h4>
          <div class="ourEvents__item__ig"></div>
        </div>
      </div>
      <div class="ourEvents__item">
        <div class="ourEvents__item__info">
          <h3 class="ourEvents__item__title">SFSxChemClub Movie Night</h3>
          <h4 class="ourEvents__item__price">Movie: Bon Cop Bad Cop</h4>
          <div class="ourEvents__item__ig"></div>
        </div>
        <div class="ourEvents__item__img">
          <img src="images/Events/2movieNight.png" alt="sponsor logo" />
        </div>
      </div>
    </div>
  </div>
</section>
